<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>810658624559-sene56u2t9mo9jfga2onrgar2230atae.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.810658624559-sene56u2t9mo9jfga2onrgar2230atae</string>
	<key>API_KEY</key>
	<string>AIzaSyCTXLZpftcw4ekE70AEX2cwaYlGLVTuHZQ</string>
	<key>GCM_SENDER_ID</key>
	<string>810658624559</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hdsaison.signing</string>
	<key>PROJECT_ID</key>
	<string>hdsaison-signing</string>
	<key>STORAGE_BUCKET</key>
	<string>hdsaison-signing.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:810658624559:ios:0c2810e5533db23757c2da</string>
</dict>
</plist>